<mat-card class="my-app">
<mat-toolbar color="primary" class="my-tool">

  <!--  menu for mobile mode-->
  <div *ngIf="mobileMode">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/playlist" mat-menu-item>
        <mat-icon>queue_music</mat-icon>
        Playlist</a>
      <a routerLink="/search" mat-menu-item>
        <mat-icon>search</mat-icon>
        Search</a>
    </mat-menu>
  </div>

  <!--  header-->
  <h1>Simple playlist:&nbsp;</h1>
  <h1 *ngIf="!mobileMode">desktop view</h1>
  <h1 *ngIf="mobileMode">mobile view</h1>
  <span class="spacer"></span>

  <!--  dark moe switch-->
  <mat-icon>light_mode</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" color="accent">
  </mat-slide-toggle>
  <mat-icon>dark_mode</mat-icon>

</mat-toolbar>

<app-player></app-player>

<router-outlet></router-outlet>
</mat-card>
