<ng-container *transloco="let t">
  <mat-toolbar color="primary">
    <!--  menu for mobile mode-->
    <div *ngIf="mobileMode">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/" mat-menu-item>
          <mat-icon>queue_music</mat-icon>
          Playlist</a>
        <a routerLink="/search" mat-menu-item>
          <mat-icon>search</mat-icon>
          Search</a>
      </mat-menu>
    </div>


    <!--  header-->
    <span *ngIf="!mobileMode">{{ t('title') }}</span>
    <span *ngIf="mobileMode">{{ t('mobile_title') }}</span>

    <span class="spacer"></span>

    <!--  dark mode switch-->
    <mat-icon>light_mode</mat-icon>
    <mat-slide-toggle [formControl]="darkModeToggleControl" color="accent" [title]="t('display')"></mat-slide-toggle>
    <mat-icon>dark_mode</mat-icon>
    <span class="spacer-switch"></span>

    <!--  language -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" [title]="t('language')">
      {{selectedLang}}
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setLanguage('en')">
        <span>English</span>
      </button>
      <button mat-menu-item (click)="setLanguage('pl')">
        <span>Polski</span>
      </button>
    </mat-menu>
    <span class="spacer-switch"></span>


  </mat-toolbar>

  <app-player></app-player>

  <router-outlet></router-outlet>
</ng-container>
