<ng-container *transloco="let t">
  <mat-card *ngIf="!mobileMode">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
        <div>
          <div matLine *ngIf="!selectedItem">{{ t('select_song') }}</div>
          <img matListAvatar *ngIf="selectedItem" src="{{selectedItem.picture}}" alt="no image">
        </div>
        <div>
          <div matLine *ngIf="selectedItem?.title">{{selectedItem.title}}</div>
          <div matLine *ngIf="selectedItem?.artist">{{selectedItem.artist}}</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <button mat-raised-button (click)="play()" color="primary" [matTooltip]="t('play')">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-raised-button (click)="pause()" color="primary" [matTooltip]="t('pause')">
          <mat-icon>pause</mat-icon>
        </button>
        <button *ngIf="!volumeMobile" mat-raised-button (click)="volUp()" color="primary" [matTooltip]="t('volume_up')">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="!volumeMobile" mat-raised-button (click)="volDown()" color="primary"
                [matTooltip]="t('volume_down')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-raised-button (click)="saveList()" color="primary" [matTooltip]="t('save_playlist')">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
    <mat-progress-bar mode="determinate" *ngIf="selectedItem" color="primary"
                      [value]="progress | async"></mat-progress-bar>
  </mat-card>


  <div *ngIf="mobileMode">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px" class="title-mobile">
        <div>
          <div matLine *ngIf="!selectedItem">{{ t('select_song') }}</div>
          <div matLine *ngIf="selectedItem?.title">{{selectedItem.title}} - {{selectedItem.artist}}</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <button mat-raised-button (click)="play()" color="primary" [matTooltip]="t('play')">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-raised-button (click)="pause()" color="primary" [matTooltip]="t('pause')">
          <mat-icon>pause</mat-icon>
        </button>
        <button *ngIf="!volumeMobile" mat-raised-button (click)="volUp()" color="primary" [matTooltip]="t('volume_up')">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="!volumeMobile" mat-raised-button (click)="volDown()" color="primary"
                [matTooltip]="t('volume_down')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-raised-button (click)="saveList()" color="primary" [matTooltip]="t('save_playlist')">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div style="margin-top: 10px">
        <mat-progress-bar mode="determinate" *ngIf="selectedItem" color="primary"
                          [value]="progress | async"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</ng-container>
