<mat-card *ngIf="!mobileMode">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
      <div>
        <div matLine *ngIf="!selectedItem">Select a song to play...</div>
        <img matListAvatar *ngIf="selectedItem" src="{{selectedItem.picture}}" alt="no image">
      </div>
      <div>
        <div matLine *ngIf="selectedItem?.title">{{selectedItem.title}}</div>
        <div matLine *ngIf="selectedItem?.artist">{{selectedItem.artist}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <button mat-raised-button (click)="play()" color="primary" matTooltip="Play">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-raised-button (click)="pause()" color="primary" matTooltip="Pause">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-raised-button (click)="volUp()" color="primary" matTooltip="Volume up">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button (click)="volDown()" color="primary" matTooltip="Volume down">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-raised-button (click)="saveList()" color="primary" matTooltip="Save playlist">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-bar mode="determinate" *ngIf="selectedItem" color="primary"
                    [value]="progress | async"></mat-progress-bar>
</mat-card>


<div *ngIf="mobileMode">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
      <button mat-raised-button (click)="play()" color="primary" matTooltip="Play">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-raised-button (click)="pause()" color="primary" matTooltip="Pause">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-raised-button (click)="saveList()" color="primary" matTooltip="Save playlist">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
    <div style="margin-top: 10px">
      <mat-progress-bar mode="determinate" *ngIf="selectedItem" color="primary"
                        [value]="progress | async"></mat-progress-bar>
    </div>
  </mat-card>
</div>
