<mat-list-item>
  <mat-divider></mat-divider>
  <img matListAvatar src="{{item.picture}}" alt="no image">
  <div matLine>{{item.title}}</div>
  <div matLine>{{item.artist}}</div>
  <button matSuffix aria-label="Play" mat-button color="primary" (click)="playItem(item)"
          matTooltip="Play">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf="type === 'searchList'" matSuffix aria-label="Add" mat-button color="primary"
          (click)="addToPlaylist(item)"
          matTooltip="Add to playlist">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="type === 'playlist'" matSuffix aria-label="Delete" mat-button color="primary"
          (click)="deleteItem(item)"
          matTooltip="Remove from playlist">
    <mat-icon>clear</mat-icon>
  </button>
</mat-list-item>
