.my-image {
  height: 80%;
  margin-top: 5px;
}

.float-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.float-child-left {
  width: 20%;
  margin-right: 5px;
  overflow: hidden;
}

.float-child-right {
  width: 80%;
  text-align: left;
  overflow: hidden;

}

.playlist-button {
  height: 100%;
  width: 100%;
}

