<mat-list-item class="dark-theme">
<mat-divider></mat-divider>
<button class="playlist-button dark-theme" mat-list-item (click)="addToPlaylist('Item')">
    <div class="float-container dark-theme">
      <div id="leftContainer" class="float-child-left">
        <img matListAvatar src="favicon.ico" alt="no image" class="my-image">
      </div>
      <div id="rightContainer" class="float-child-right dark-theme">
        <div matLine>Set fire to rain</div>
        <div matLine>Adele</div>
      </div>
      </div>
  </button>
</mat-list-item>
