<mat-card *ngIf="!mobileMode" fxLayout="column" fxFlexFill fxLayoutGap="5px">
  <mat-toolbar color="primary" class="mat-elevation-z8 my-toolbar">
    Search
  </mat-toolbar>
  <div>
    <app-search-field (valueEmitter)="loadItems($event)"></app-search-field>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </div>
  <div class="scrollable-list">
    <app-item-list [items]="items" [type]="'searchList'"></app-item-list>
    <app-more-button [hidden]="!items?.length" (loadMoreEmitter)="loadMoreItems()"></app-more-button>
  </div>
</mat-card>

<mat-card *ngIf="mobileMode">
  <app-search-field (valueEmitter)="loadItems($event)"></app-search-field>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="scrollable-list">
    <app-item-list [items]="items" [type]="'searchList'"></app-item-list>
    <app-more-button [hidden]="!items?.length" (loadMoreEmitter)="loadMoreItems()"></app-more-button>
  </div>
</mat-card>
